<header class="col-md-12">
    <div class="row">
      <span class="col-md-12" style="text-align: center;">
        <!-- <a href="/index.html"><img src="/images/project-logo.jpg" width="150px" align="left"/></a> -->
        <h1 align="center"><%= title %></h1>
      </span>
    </div>
  </header>
  