<nav class="navbar navbar-expand-md navbar-light bg-light">
  <button class="navbar-toggler" 
            type="button" 
            data-toggle="collapse" 
            data-target="#navbarSupportedContent" 
            aria-controls="navbarSupportedContent" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/index.html"><i class="fas fa-home"></i>Home</a>
        </li>
        <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" 
                    role="button" aria-haspopup="true" aria-expanded="false">
                    Guide <span class="caret"></span></a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="/getting-started.html">Getting Started</a>
                <a class="dropdown-item" href="/data-format.html">Data Formats</a>
                <a class="dropdown-item" href="/custom-validator.html">Custom validation</a>
                <a class="dropdown-item" href="/validation-functions.html">Validation functions</a>
            </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://runtime-data-validation-js.github.io/runtime-data-validation-typescript/">API</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/news/index.html">News</a>
        </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" method="get" id="ddgSearch" action="https://duckduckgo.com/">
        <input type="hidden" name="sites" value="https://runtime-data-validation-js.github.io"/>
        <input type="hidden" name="k7" value="#ffffff"/>
        <input type="hidden" name="k8" value="#222222"/>
        <input type="hidden" name="k9" value="#00278e"/>
        <input type="hidden" name="kx" value="#20692b"/>
        <input type="hidden" name="kj" value="#fafafa"/>
        <input type="hidden" name="kt" value="p"/>
        <input type="text" name="q"
                placeholder="Search runtime-data-validation"
                aria-label="Search runtime-data-validation on DuckDuckGo"/>
        <button type="submit">Search</button>
    </form>
  </div>
</nav>