<div class="list-group">
    <a class="list-group-item" href="/index.html"><i class="fas fa-home"></i>Home</a>
    <a class="list-group-item" href="/getting-started.html">Getting Started</a>
    <a class="list-group-item" href="/data-format.html">Data Formats</a>
    <a class="list-group-item" href="/custom-validator.html">Custom validation</a>
    <a class="list-group-item" href="https://runtime-data-validation-js.github.io/runtime-data-validation-typescript/">API</a>
    <a class="list-group-item" href="/news/index.html">News</a>
</div>